<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>The Potato Cosmos</title>
    <meta name=viewport content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="favicon.ico">
    <link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon-180x180.png">
    <link rel="manifest" href="/manifest.json">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#603cba">
    <meta name="msapplication-TileImage" content="/mstile-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <!-- Angular Material style sheet -->
    <link async rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.css">
    <link async href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--My style sheet-->
    <style>
    body {
        background-color: #515151;
    }
    @keyframes bigPotatoClick {
        0% {transform: scale(0.9);}
        50% {transform: scale(0.8);}
        100% {transform: scale(0.9);}
    }
    @keyframes appeardisappear {
        0% {opacity: 0;}
        25% {opacity: 0.5;}
        50% {opacity: 1;}
        75% {opacity: 0.5;}
        100% {opacity: 0;}
    }
    @keyframes appear {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
    @keyframes disappear {
        from {
            opacity: 1;
        }
        to {
            opacity: 0;
        }
    }
    .bigPotato {
        padding-top: 10px;
        padding-bottom: 10px;
        margin: 0 auto;
        width: 250px;
        height: 375px;
        border-radius: 150px;
        -webkit-border-radius: 150px;
        -moz-border-radius: 150px;
        background: url(img/bigPotato.png) no-repeat;
        background-size:auto;
        background-position:center;
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
        cursor: crosshair;
        }
    .bigPotato:hover {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    .bigPotato:focus {
        outline: none;
    }
    .bigPotato:active {
        animation-name: bigPotatoClick;
        animation-duration: 0.1s;
    }
    .tabsdemoDynamicHeight md-content {
      background-color: transparent !important; 
    }
     .tabsdemoDynamicHeight md-content md-tabs {
        background: #f6f6f6;
        border: 1px solid #e1e1e1; 
    }
    .tabsdemoDynamicHeight md-content md-tabs md-tabs-wrapper {
          background: white; 
    }
    .tabsdemoDynamicHeight md-content h1:first-child {
        margin-top: 0; 
    }
    .saveButton {
        position: fixed;
        left: 0;
        bottom: 0;
    }
    .centered {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .loader {
      font-size: 10px;
      margin: 50px auto;
      text-indent: -9999em;
      width: 11em;
      height: 11em;
      border-radius: 50%;
      background: #000000;
      background: -moz-linear-gradient(left, #000000 10%, rgba(255, 255, 255, 0) 42%);
      background: -webkit-linear-gradient(left, #000000 10%, rgba(255, 255, 255, 0) 42%);
      background: -o-linear-gradient(left, #000000 10%, rgba(255, 255, 255, 0) 42%);
      background: -ms-linear-gradient(left, #000000 10%, rgba(255, 255, 255, 0) 42%);
      background: linear-gradient(to right, #000000 10%, rgba(255, 255, 255, 0) 42%);
      position: relative;
      -webkit-animation: load3 1.4s infinite linear;
      animation: load3 1.4s infinite linear;
      -webkit-transform: translateZ(0);
      -ms-transform: translateZ(0);
      transform: translateZ(0);
    }
    .loader:before {
      width: 50%;
      height: 50%;
      background: #000000;
      border-radius: 100% 0 0 0;
      position: absolute;
      top: 0;
      left: 0;
      content: '';
    }
    .loader:after {
      background: #000000;
      width: 75%;
      height: 75%;
      border-radius: 50%;
      content: '';
      margin: auto;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
    }
    @-webkit-keyframes load3 {
      0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
      }
      100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
      }
    }
    @keyframes load3 {
      0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
      }
      100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
      }
    }
    md-tabs > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item:not([disabled]).md-active, md-tabs > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item:not([disabled]).md-active md-icon, md-tabs.md-accent > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item:not([disabled]).md-active md-icon, md-tabs.md-default-theme.md-accent > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item:not([disabled]).md-focused, md-tabs.md-default-theme.md-accent > md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item:not([disabled]).md-focused md-icon {
      font-weight: bold; !important;
    }
    </style>
    <!-- Begin Cookie Consent plugin by Silktide - http://silktide.com/cookieconsent -->
    <script type="text/javascript">
        window.cookieconsent_options = {"message":"This website uses cookies to ensure you get the best experience on our website","dismiss":"Got it!","learnMore":"More info","link":null,"theme":"dark-bottom"};
    </script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/1.0.9/cookieconsent.min.js"></script>
    <!-- Google Analyctics -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-77847929-1', 'auto');
      ga('send', 'pageview');
    </script>
    <script src="https://code.jquery.com/jquery-2.2.3.min.js" integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=" crossorigin="anonymous"></script>
</head>
<body ng-app="myApp">
<div style="text-align: center;" class="loading-spinner-holder centered" data-loading >
    <div layout="column">
        <div>LOADING</div>
        <div class="loader"></div>
    </div>
</div>

<!-- All code Copyright (C) aar118 - All Rights Reserved
 * Written by aar118, May 2016
 * Re-distrubuting this code for commercial use is prohibited, but non-commercial is allowed
-->

<div ng-controller="loader" class="slide-animate-container">
    <div class="slide-animate" ng-include="template.url"></div>
</div>

<!-- Angular Material requires Angular.js Libraries -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.5/angular.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.5/angular-animate.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.5/angular-aria.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.5/angular-messages.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.5/angular-cookies.min.js"></script>
<!-- Angular Material Library -->
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.js"></script>
<!-- Angular Modules/Controllers -->

<script>
var myApp = angular.module('myApp',['ngMaterial', 'ngCookies'])
myApp.directive('loading',   ['$http' ,function ($http) {
    return {
        restrict: 'A',
        link: function (scope, elm, attrs) {
            scope.isLoading = function () {
                return $http.pendingRequests.length > 0;
            };

            scope.$watch(scope.isLoading, function (v) {
                if(v){
                    elm.show();
                }else{
                    elm.hide();
                }
            });
        }
    };
}]);
myApp.config(function($mdThemingProvider, $mdIconProvider) {
    var customBackground = {
        '50': '#cccccc',
        '100': '#cccccc',
        '200': '#cccccc',
        '300': '#cccccc',
        '400': '#cccccc',
        '500': '#cccccc',
        '600': '#cccccc',
        '700': '#cccccc',
        '800': '#cccccc',
        '900': '#cccccc',
        'A100': '#cccccc',
        'A200': '#cccccc',
        'A400': '#cccccc',
        'A700': '#cccccc'
    };
    $mdThemingProvider
        .definePalette('customBackground', 
                        customBackground);

    $mdThemingProvider.theme('default')
        .dark();

    $mdThemingProvider.theme('alt')
        .primaryPalette('red')
        .accentPalette('pink')
        .warnPalette('blue')
        .backgroundPalette('customBackground')

    $mdThemingProvider.alwaysWatchTheme(true);

    $mdIconProvider
      .icon('github', 'img/github.svg', 24)
});

myApp.filter( 'shortNumber', function() {
    return function( number ) {
        if ( number ) {
            abs = Math.abs( number );
            if ( abs >= Math.pow( 10, 36 ) ) {
            // undecillion
                number = ( number / Math.pow( 10, 36 ) ).toFixed( 2 ) + "UnD";
            } else if ( abs < Math.pow( 10, 36 ) && abs >= Math.pow( 10, 33 ) ) {
            // decillion
                number = ( number / Math.pow( 10, 33 ) ).toFixed( 2 ) + "De";
            } else if ( abs < Math.pow( 10, 33 ) && abs >= Math.pow( 10, 30 ) ) {
            // nonillion
                number = ( number / Math.pow( 10, 30 ) ).toFixed( 2 ) + "No";
            } else if ( abs < Math.pow( 10, 30 ) && abs >= Math.pow( 10, 27 ) ) {
            // octillion
                number = ( number / Math.pow( 10, 27 ) ).toFixed( 2 ) + "Oc";
            } else if ( abs < Math.pow( 10, 27 ) && abs >= Math.pow( 10, 24 ) ) {
            // septillion
                number = ( number / Math.pow( 10, 24 ) ).toFixed( 2 ) + "Sp";
            } else if ( abs < Math.pow( 10, 24 ) && abs >= Math.pow( 10, 21 ) ) {
            // sextillion
                number = ( number / Math.pow( 10, 21 ) ).toFixed( 2 ) + "Sx";
            } else if ( abs < Math.pow( 10, 21 ) && abs >= Math.pow( 10, 18 ) ) {
            // quintillion
                number = ( number / Math.pow( 10, 18 ) ).toFixed( 2 ) + "Qi";
            } else if ( abs < Math.pow( 10, 18 ) && abs >= Math.pow( 10, 15 ) ) {
            // quadrillion
                number = ( number / Math.pow( 10, 15 ) ).toFixed( 2 ) + "Qa";
            } else if ( abs < Math.pow( 10, 15 ) && abs >= Math.pow( 10, 12 ) ) {
            // trillion
                number = ( number / Math.pow( 10, 12 ) ).toFixed( 2 ) + "T";
            } else if ( abs < Math.pow( 10, 12 ) && abs >= Math.pow( 10, 9 ) ) {
            // billion
                number = ( number / Math.pow( 10, 9 ) ).toFixed( 2 ) + "B";
            } else if ( abs < Math.pow( 10, 9 ) && abs >= Math.pow( 10, 6 ) ) {
            // million
                number = ( number / Math.pow( 10, 6 ) ).toFixed( 2 ) + "M";
            } else if ( abs < Math.pow( 10, 6 ) && abs >= Math.pow( 10, 3 ) ) {
            // thousand
                number = ( number / Math.pow( 10, 3 ) ).toFixed( 2 ) + "K";
            } else if ( abs < Math.pow( 10, 3 ) && abs > 0 ) {
            // one+tens+hundreds
                number = ( number ).toFixed( 2 );
            } else {
            // zero
                number = 0;
            }
            return number;
        } else {
            return 0;
        }
    };
});

myApp.controller('loader', function($scope) {
    $scope.templates =[ 
        {url: 'testpage.html'}
    ];
    $scope.template = $scope.templates[0];
})

/*myApp.factory("interval",['$q',function($q){
    var blobURL = URL.createObjectURL(new Blob([
        'function addPotatoesInterval() {'+
            'i = "addPotatoes()";'+
            'postMessage(i);'+
            'setTimeout("addPotatoesInterval()", 1000);'+
        '}'+
        'addPotatoesInterval();'+
        'function savePotatoesInterval() {'+
            'x = "savePotatoes()";'+
            'postMessage(x);'+
            'setTimeout("savePotatoesInterval()", 1000);'+
        '}'+
        'savePotatoesInterval();'
        ], { type: 'application/javascript' }));

    var worker = new Worker(blobURL);
    var defer = $q.defer();

    worker.addEventListener('message', function(e) {
      console.log('Worker said: ', e.data);
      defer.resolve(e.data);
    }, false);

    return {
        doWork : function(myData){
            defer = $q.defer();
            worker.postMessage(myData); // Send data to our worker. 
            return defer.promise;
        }
    };
}]);
*/

myApp.controller('yudodis', function($scope, $interval, $mdDialog, $cookies, $mdBottomSheet, $filter/*, interval*/, $window) {
      $scope.division = 100;
      var p = $interval(addPotatoes, 10);
    angular.element($window).bind('focus', function() {
      $scope.division = 100;
      $interval.cancel(p);
      p = $interval(addPotatoes, 10);
    }).bind('blur', function() {
      $scope.division = 1;
      $interval.cancel(p);
      p = $interval(addPotatoes, 1000);
    });

    $interval(savePotatoes, 30000);

    $scope.alert = '';
    $scope.showListBottomSheet = function() {
        $scope.alert = '';
        $mdBottomSheet.show({
            template:
            '<md-bottom-sheet ng-cloak>'+
                '<md-content layout="column" layout-align="center center">'+
                    '<h3>Stuff</h3>'+
                    '<div layout="row" layout-align="center center">'+
                      '<md-list-item flex ng-repeat="item in items">'+
                        '<md-button style="text-transform: none;" href="{{item.link}}" class="md-raised" ng-click="listItemClick($index)">'+
                         '<md-icon md-svg-src="{{item.icon}}"></md-icon>'+
                          '<div> {{ item.name }} </div>'+
                        '</md-button>'+
                    '</div>'+
                '</md-content>'+
            '</md-bottom-sheet>',
            controller: 'GridBottomSheetCtrl'
        }).then(function(clickedItem) {
            $scope.alert = clickedItem['name'] + ' clicked!';
        });
    };

    $scope.optionToggle = false;
    $scope.statToggle = false;
    $scope.savingToggle = 0;

    $scope.toggle1 = function() {
        if(!$scope.optionToggle) {
            if($scope.statToggle) {
                $scope.statToggle = false;
            }
            $scope.optionToggle = true;
        }else {
            $scope.optionToggle = false;
        }
    }

    $scope.toggle2 = function() {
        if(!$scope.statToggle) {
            if($scope.optionToggle) {
                $scope.optionToggle = false;
            }
            $scope.statToggle = true;
        }else {
            $scope.statToggle = false;
        }
    }

    $scope.lightSwitch = 'Off';
    $scope.dynamicTheme = 'default';
    $scope.borders = 'white';
    $scope.lightSwitchOn = function() {
        if($scope.lightSwitch == 'Off') {
            $scope.dynamicTheme = 'alt';
            $scope.borders = 'black';
        }else{
            $scope.dynamicTheme = 'default';
            $scope.borders = 'white';
        }
    console.log($scope.dynamicTheme);
    console.log($scope.lightSwitch);
    }

    $scope.hackSwitch = 'Off';
    $scope.hackSwitchOn = function() {
        if($scope.hackSwitch == 'On') {
            $scope.hackMult = 1e+100;
        }else {
            $scope.hackMult = 1;
        }
        return $scope.hackMult;
    }

    $scope.potatoes = 0;
    $scope.totalPotatoes = 0;
    $scope.totalPotatoesFromClicks = 0;
    $scope.totalBigPotatoClicks = 0;
    $scope.power = 0;
    $scope.pps = 0;

    var units = ['Potato Peeler', 'Potato Farmer', 'Potato Spinner', 'Potato Breeder', 'Spud Extractor', 'Potato Alchemist', 'Cloning Device', 'Time Bot'];
    var unitDescriptions = ['More peelers mean faster peeling!', 'Hire farmers to do work', 'Bet the farmers will like this.', "They're...they're multiplying", 'Asexual production', 
    "SCIENCE!", 'Molecular cloning', 'Travel either forward or backward in time for infinite potatoes!']; 

    var machines = ['Battery', 'Machine', 'Nuclear Reactor', 'AP-V Generator'];
    var machineDescriptions = ["Let's wire this tator up!", "Need more fuel...potato fuel", 'If we collide these potatoes just right...', 'Atmospheric Potato-Vortex Generator'];

    var buildings = ['Factory', 'Lab'];
    var buildingDescriptions = ["We will power the world with our potatoes!", 'Further science with potatoes!'];

    var achievements = [];
    var achievementDescriptions = [];

    $scope.machines = [];
    $scope.buildings = [];
    $scope.achievements = [];
    $scope.units = [];
    $scope.upgrades = [];
    
    for(var i = 0; i < units.length; i++) {
        $scope.units.push({
            name: units[i],
            amount: 0,
            price: Math.pow(10, (i+1)),
            pps: Math.pow((i+1), 6)/10,
            mult: 1,
            requirement: Math.pow(10, i) <= 100 ? 0 : Math.pow(10, (i-1)),
            description: unitDescriptions[i]
        });
        $scope.upgrades.push({
            name: units[i],
            amount: 0,
            upgrade: 1,
            cost: Math.pow(10, (i+2)) * 2,
            requirement: Math.pow(10, (i)) * 2
        });
        $scope.upgrades.push({
            name: units[i],
            amount: 0,
            upgrade: 2,
            cost: Math.pow(10, (i+3)) * 3,
            requirement: Math.pow(10, (i+1)) * 2
        });
        $scope.upgrades.push({
            name: units[i],
            amount: 0,
            upgrade: 3,
            cost: Math.pow(10, (i+4)) * 4,
            requirement: Math.pow(10, (i+2)) * 2
        });
    }
    
    $scope.upgradeStuff = function(index) {
        $scope.upgrades[index].amount = $scope.upgrades[index].amount + 1;
        var searchTerm = $scope.upgrades[index].name,
        search = -1;
        for(var i = 0, len = $scope.units.length; i < len; i++) {
            if ($scope.units[i].name === searchTerm) {
                search = i;
                break;
            }
        }
        $scope.potatoes = $scope.potatoes - $scope.upgrades[index].cost;
        $scope.units[search].mult = $scope.units[search].mult + $scope.upgrades[index].upgrade;
    }

    $scope.price = function(index) {
        if($scope.potatoes >= $scope.units[index].price) {
            $scope.units[index].amount = $scope.units[index].amount + 1;
            $scope.potatoes = $scope.potatoes - $scope.units[index].price;
            $scope.units[index].price = Math.round(1.2 * $scope.units[index].price + Math.pow($scope.units[index].amount, 2));
        }
    }

    $scope.getPPS = function() {
        $scope.pps = 0;
        for(var i = 0; i < $scope.units.length; i++) {
            var unit = $scope.units[i];
            $scope.pps += ((unit.pps * unit.mult) * unit.amount);
        }
        return $scope.pps;
    }

    function addPotatoes() {
        for(var i = 0; i < $scope.units.length; i++) {
            $scope.potatoes = $scope.potatoes + (($scope.units[i].pps * $scope.units[i].mult) * $scope.units[i].amount)/($scope.division);
            $scope.totalPotatoes = $scope.totalPotatoes + (($scope.units[i].pps * $scope.units[i].mult) * $scope.units[i].amount)/($scope.division);
        }
        if($scope.savingToggle > 0) {
            $scope.savingToggle = $scope.savingToggle - 1/($scope.division);
        }
        //document.title = $filter('shortNumber')($scope.potatoes) + " - The Cosmic Potato";
    }
    
    function savePotatoes() {
        $scope.savingToggle = 3;
        var potatoes = $scope.potatoes;
        var totalPotatoes = $scope.totalPotatoes;
        var totalPotatoesFromClicks = $scope.totalPotatoesFromClicks;
        var totalBigPotatoClicks = $scope.totalBigPotatoClicks;
        var pps = $scope.pps;
        var upgradesAmount = [];
        for(var i = 0; i < $scope.upgrades.length; i++) {
            upgradesAmount.push($scope.upgrades[i].amount)
        }
        var unitsAmount = [];
        var unitsPrice = [];
        var unitsPps = [];
        var unitsMult = [];
        for(var i = 0; i < $scope.units.length; i++) {
            unitsAmount.push($scope.units[i].amount);
            unitsPrice.push($scope.units[i].price);
            unitsPps.push($scope.units[i].pps);
            unitsMult.push($scope.units[i].mult);
        }
        $scope.exportData = btoa(angular.toJson([potatoes, totalPotatoes, totalPotatoesFromClicks, totalBigPotatoClicks, pps, unitsAmount, unitsPrice, unitsPps, unitsMult, upgradesAmount]));
        $cookies.put('exportData', $scope.exportData, {'expires': new Date(2018, 1, 1)});
    }
    
    $scope.export = function(ev) {
        var potatoes = $scope.potatoes;
        var totalPotatoes = $scope.totalPotatoes;
        var totalPotatoesFromClicks = $scope.totalPotatoesFromClicks;
        var totalBigPotatoClicks = $scope.totalBigPotatoClicks;
        var pps = $scope.pps;
        var upgradesAmount = [];
        for(var i = 0; i < $scope.upgrades.length; i++) {
            upgradesAmount.push($scope.upgrades[i].amount)
        }
        var unitsAmount = [];
        var unitsPrice = [];
        var unitsPps = [];
        var unitsMult = [];
        for(var i = 0; i < $scope.units.length; i++) {
            unitsAmount.push($scope.units[i].amount);
            unitsPrice.push($scope.units[i].price);
            unitsPps.push($scope.units[i].pps);
            unitsMult.push($scope.units[i].mult);
        }
        $scope.exportData = btoa(angular.toJson([potatoes, totalPotatoes, totalPotatoesFromClicks, totalBigPotatoClicks, pps, unitsAmount, unitsPrice, unitsPps, unitsMult, upgradesAmount]));
        $cookies.put('exportData', $scope.exportData, {'expires': new Date(3000, 1, 1)});
        $mdDialog.show({
            controller: DialogController,
            template: 
                '<md-dialog>'+  
                    '<md-input-container class="md-block">'+
                        '<label>Data</label>'+
                        '<textarea ng-model="exportData" rows="5"></textarea>'+
                    '</md-input-container>'+
                '</md-dialog>',
            parent: angular.element(document.body),
            targetEvent: ev,
            clickOutsideToClose:true
        });
    }

    $scope.import = function(ev) {
        $mdDialog.show({
            controller: DialogController,
            template: 
                '<md-dialog>'+  
                    '<md-input-container class="md-block">'+
                        '<label>Data</label>'+
                        '<textarea ng-model="importData" rows="5"></textarea>'+
                    '</md-input-container>'+
                    '<md-button ng-click="answer(importData)">Import</md-button>'+
                '</md-dialog>',
            parent: angular.element(document.body),
            targetEvent: ev,
            clickOutsideToClose:true
        })
        .then(function(answer) {
            $scope.importData = angular.fromJson(atob(answer));
            $scope.potatoes = $scope.importData[0];
            $scope.totalPotatoes = $scope.importData[1];
            $scope.totalPotatoesFromClicks = $scope.importData[2];
            $scope.totalBigPotatoClicks = $scope.importData[3];
            $scope.pps = $scope.importData[4];
            for(var i = 0; i < $scope.units.length; i++) {
                $scope.units[i].amount = $scope.importData[5][i];
                $scope.units[i].price = $scope.importData[6][i];
                $scope.units[i].pps = $scope.importData[7][i];
                $scope.units[i].mult = $scope.importData[8][i];
            }
            for(var i = 0; i < $scope.upgrades.length; i++) {
                $scope.upgrades[i].amount = $scope.importData[9][i];
            }
        }, function() {
            $scope.status = 'You cancelled the dialog.';
        });
    };

    $scope.bigPotatoClick = function() {
        $scope.potatoes = $scope.potatoes + 1 * ($scope.hackSwitchOn());
        $scope.totalPotatoes = $scope.totalPotatoes + 1 * ($scope.hackSwitchOn());
        $scope.totalPotatoesFromClicks = $scope.totalPotatoesFromClicks + 1 * ($scope.hackSwitchOn());
        $scope.totalBigPotatoClicks = $scope.totalBigPotatoClicks + 1;
    }

    $scope.showAdvanced = function(ev) {
        $mdDialog.show({
            controller: DialogController,
            template:
            '<md-dialog aria-label="Changelog">'+
                '<form>'+
                    '<md-toolbar>'+
                        '<div class="md-toolbar-tools">'+
                            '<h2>Changelog</h2>'+
                            '<span flex></span>'+
                            '<md-button class="md-icon-button" ng-click="cancel()">X</md-button>'+
                        '</div>'+
                 '   </md-toolbar>'+
                   ' <md-dialog-content>'+
                        '<md-tabs md-dynamic-height md-border-bottom>'+
                            '<md-tab label="Version 1">'+
                                '<md-tabs md-selected="6" md-dynamic-height md-border-bottom>'+
                                   '<md-tab label="v1.1">'+
                                       '<md-content class="md-padding">'+
                                           '<h3>Version 1.1</h3>'+
                                            '<ul>'+
                                                '<li>Nothing here but tests and stuff</li>'+
                                            '</ul>'+
                                       '</md-content>'+
                                    '</md-tab>'+
                                    '<md-tab label="v1.2">'+
                                        '<md-content class="md-padding">'+
                                            '<h3>Version 1.2</h3>'+
                                            '<ul>' + 
                                                '<li>Implemented full reset, import/export and saving (saving cookie every 30 seconds) for the game</li>' + 
                                            '</ul>'+
                                        '</md-content>'+
                                   ' </md-tab>'+
                                   ' <md-tab label="v1.3">'+
                                        '<md-content class="md-padding">'+
                                            '<h3>Version 1.3</h3>'+
                                            '<ul>'+
                                                "<li>New filter for numbers that go up to Undecillion (doubt I'm gonna need for now...but might as well!)</li>"+
                                                "<li>Modified the stupid changelog so it updates manually (without me replacing the URL)</li>"+
                                                "<li>addPotatoes interval is a lot faster now so that it looks more cool when getting potatoes, and everything updates faster</li>"+
                                            '</ul>'+
                                        '</md-content>'+
                                    '</md-tab>'+
                                    ' <md-tab label="v1.4">'+
                                        '<md-content class="md-padding">'+
                                            '<h3>Version 1.4</h3>'+
                                            '<ul>'+
                                                "<li>Added stuff to the Stuff tab. Can now fork on github</li>"+
                                                "<li>Changed potato picture at one point</li>"+
                                                "<li>Added Google Analyctics to help track my users and whatnot</li>"+
                                                "<li>Added lots of icons/favicons</li>"+
                                                "<li>Changed local file hosting to CDNs for the scripts</li>"+
                                            '</ul>'+
                                        '</md-content>'+
                                    '</md-tab>'+
                                    ' <md-tab label="v1.5">'+
                                        '<md-content class="md-padding">'+
                                            '<h3>Version 1.5</h3>'+
                                            '<ul>'+
                                                "<li>Added loading screen before the page (and angular html content) is loaded</li>"+
                                                "<li>Stuff to make the website load faster</li>"+
                                                "<li>Also fixed the option switches that secretly broke</li>"+
                                            '</ul>'+
                                        '</md-content>'+
                                    '</md-tab>'+
                                    ' <md-tab label="v1.6">'+
                                        '<md-content class="md-padding">'+
                                            '<h3>Version 1.6</h3>'+
                                            '<ul>'+
                                                "<li>Changed changelog to automatically select the newest version</li>"+
                                                "<li>Changed the interval for addPotatoes back to 1 second because of speed issues</li>"+
                                                "<li>Changed background color for the light background to #cccccc</li>"+
                                            '</ul>'+
                                        '</md-content>'+
                                    '</md-tab>'+
                                    ' <md-tab label="v1.7">'+
                                        '<md-content class="md-padding">'+
                                            '<h3>Version 1.7</h3>'+
                                            '<ul>'+
                                                "<li>Changed interval to automatically update based on if looking at the page or not...FINALLY</li>"+
                                                "<li>Made tabs bolded when selected</li>"+
                                            '</ul>'+
                                        '</md-content>'+
                                    '</md-tab>'+
                               ' </md-tabs>'+
                           ' </md-tab>'+
                           ' <md-tab ng-disabled="true" label="Version 2">'+
                                '<md-tabs md-dynamic-height md-border-bottom>'+
                                    '<md-tab label="v2.1">'+
                                       ' <md-content class="md-padding">'+
                                           ' <h3>Version 2.1</h3>'+
                                          '  <p>Nothing here</p>'+
                                       ' </md-content>'+
                                   ' </md-tab>'+
                                   ' <md-tab label="v2.2">'+
                                        '<md-content class="md-padding">'+
                                            '<h3>Version 2.2</h3>'+
                                            '<p>Also nothing here</p>'+
                                        '</md-content>'+
                                    '</md-tab>'+
                               ' </md-tabs>'+
                           ' </md-tab>'+
                        '</md-tabs>'+
                   ' </md-dialog-content>'+
                '</form>'+
            '</md-dialog>',
            parent: angular.element(document.body),
            targetEvent: ev,
            clickOutsideToClose:true
        })
    };
    $scope.showConfirm = function(ev) {
        var confirm = $mdDialog.confirm()
            .title('Full Reset')
            .textContent('WARNING: THIS RESETS ALL YOUR DATA BACK TO 0!!!!!')
            .ariaLabel('Full Reset')
            .targetEvent(ev)
            .ok('Yes')
            .cancel('No');
        $mdDialog.show(confirm).then(function() {
            $scope.potatoes = 0;
            $scope.totalPotatoes = 0;
            $scope.totalPotatoesFromClicks = 0;
            $scope.totalBigPotatoClicks = 0;
            $scope.pps = 0;
            for(var i = 0; i < $scope.units.length; i++) {
                $scope.units[i].amount = 0;
                $scope.units[i].mult = 1;
                $scope.units[i].price = Math.pow(10, (i+1));
            }
            for(var i = 0; i < $scope.upgrades.length; i++) {
                $scope.upgrades[i].amount = 0;
            }
        }, function() {
            $scope.status = 'no';
        });
    };

    if($cookies.get('exportData')) {
        $scope.importData = angular.fromJson(atob($cookies.get('exportData')));
        if($scope.importData == null || undefined)  {
            console.log("Bad Cookie");
        }else{
            $scope.potatoes = $scope.importData[0];
            $scope.totalPotatoes = $scope.importData[1];
            $scope.totalPotatoesFromClicks = $scope.importData[2];
            $scope.totalBigPotatoClicks = $scope.importData[3];
            $scope.pps = $scope.importData[4];
            for(var i = 0; i < $scope.units.length; i++) {
                $scope.units[i].amount = $scope.importData[5][i];
                $scope.units[i].price = $scope.importData[6][i];
                $scope.units[i].pps = $scope.importData[7][i];
                $scope.units[i].mult = $scope.importData[8][i];
            }
            for(var i = 0; i < $scope.upgrades.length; i++) {
                $scope.upgrades[i].amount = $scope.importData[9][i];
            }
        }
    }
})

function DialogController($scope, $mdDialog, $cookies) {
  $scope.hide = function() {
    $mdDialog.hide();
  };
  $scope.cancel = function() {
    $mdDialog.cancel();
  };
  $scope.answer = function(answer) {
    $mdDialog.hide(answer);
  };
  $scope.exportData = $cookies.get('exportData'); 
}

myApp.controller('GridBottomSheetCtrl', function($scope, $mdBottomSheet) {
  $scope.items = [
    { name: 'Fork Me', link: 'http://github.com/aar118/The-Cosmic-Potato', icon: 'github' }
  ];
  $scope.listItemClick = function($index) {
    var clickedItem = $scope.items[$index];
    $mdBottomSheet.hide(clickedItem);
  };
})
</script>

</body>
</html>
